USE [master]
GO
/****** Object:  Database [HyundaiCompany]    Script Date: 23-02-2020 11:52:30 PM ******/
CREATE DATABASE [HyundaiCompany]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HyundaiCompany', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\HyundaiCompany.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HyundaiCompany_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\HyundaiCompany_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HyundaiCompany].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HyundaiCompany]
GO
/****** Object:  Table [dbo].[CarMaster]    Script Date: 23-02-2020 11:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CarMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CarName] [varchar](50) NULL,
	[Price] [varchar](50) NULL,
	[Model] [varchar](50) NULL,
	[Colour] [varchar](50) NULL,
 CONSTRAINT [PK_CarMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 23-02-2020 11:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[SalaryID] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Salary]    Script Date: 23-02-2020 11:52:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Salary](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Salary] [varchar](50) NULL,
 CONSTRAINT [PK_Salary] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CarMaster] ON 

GO
INSERT [dbo].[CarMaster] ([ID], [CarName], [Price], [Model], [Colour]) VALUES (1, N'I10', N'5 lac', N'2020', N'Red')
GO
SET IDENTITY_INSERT [dbo].[CarMaster] OFF
GO
SET IDENTITY_INSERT [dbo].[Salary] ON 

GO
INSERT [dbo].[Salary] ([ID], [Salary]) VALUES (1, N'100')
GO
SET IDENTITY_INSERT [dbo].[Salary] OFF
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Salary] FOREIGN KEY([SalaryID])
REFERENCES [dbo].[Salary] ([ID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Salary]
GO
USE [master]
GO
